<div class="payment-method pragma-payment" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {id: getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <span><img class="pragma-payment__logo" data-bind="attr: {src: logoSrc, alt: getTitle()}"/></span>
        <span class="pragma-payment__description" data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="payment__pragma-agreement">
            <div class="pragma-agreement__wrapper">
                <div class="pragma-checkbox">
                    <input type="checkbox"
                           data-bind="checked: pragmaAgreement, id: 'pragma_payment-' + getCode() + '-agreement'"/>
                    <span data-bind="html: agreementText"></span>
                </div>
                <!-- ko if: !pragmaAgreement() -->
                <div class="pragma-msg">
                    <p class="msg msg__error"
                       data-bind="i18n: 'You must agree to the Terms for a single PragmaGO S.A. payment transaction.'"></p>
                </div>
                <!-- /ko -->
            </div>
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                                                    click: placeOrder,
                                                    attr: {title: $t('Place Order')},
                                                    enable: isPlaceOrderActionAllowed() && pragmaAgreement()">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
